.common-test-section {
  padding: 0 30px 0 30px;
  background-color: #F7F7F7;
}

.common-test-section__wrapper {
  margin-top: 178px;
  min-height: 535px;
  margin-bottom: 200px;
}

.common-test-section .custom-checkbox {
  margin-left: 0;
  margin-right: 0;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  height: 60px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 50px;
}

.common-test-section__qn-description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0.33px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}