.register-section__header {
  margin-top: 52px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.register-section-qn {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.26px;
}

.register-section-qn a {
  font-weight: 600;
}
